[user]
  name = everysick
  email = s.wakeup31@gmail.com
[color]
  ui = auto
[alias]
  st = status
  co = checkout
  cm = commit
  ps = push
  lg = log --stat --graph
  pl = pull
[push]
  default = simple
